img {
    height: 60vh;
    transition:transform 0.25s ease;

}

img:hover {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}

.container {
    margin: auto;
    width: 100vh;
    max-width: 100vw;
    min-width: 500px;
}

.row {
    text-align: center;
}
.col {
    
    display: inline-block;
    text-align: center;
}

