.pexelPic {
    height: 75vh;
    transition:transform 0.25s ease;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

.pexelPic:hover {
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}

.image {
    min-height: 75vh;
    display: inline-block;
    align-content: center;
    padding-top: 10px;
}

